body {
    background-image: url('./bg-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
table {
    width: 100%;
}
thead, tr {
    border-bottom: 1px solid #000;
    text-align: center;
}
th, td {
    padding: 15px;
    font-size: 18px;
}
tr:hover {
    background-color: rgba(254, 242, 180, 0.6);
}
th:hover {
    cursor: pointer;
    background-color:  rgba(254, 242, 180, 0.6);
}